name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  GITHUB_TOKEN: 1

jobs:
    check-bats-version:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '14'
        - run: git config --global user.name User
        - run: git config --global user.email user@example.org
        - run: npm ci
        - run: npm install -g mocha
        - run: npm install -g bats
        - run: npm run build --if-present
        - run: npm test
        - run: gh release create