name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  GITHUB_TOKEN: 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

jobs:
    Pipeline:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '14'
        - run: git fetch --unshallow --tags
        - run: npm ci
        - run: npm install -g mocha
        - run: npm run build --if-present
        - run: npm test
        - run: export GITHUB_TOKEN =
        - run: gh auth status
        - run: gh auth login --with-token
        - run: gh auth status
        - run: gh release create latest