name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
    Pipeline:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '14'
        - run: git fetch --unshallow --tags
        - run: npm ci
        - run: npm install -g mocha
        - run: npm run build --if-present
        
        - uses: actions/setup-go@master
        - uses: actions/checkout@master
          with:
            path: './src/github.com/github-release/github-release'
        - run: npm test
          working-directory: './src/github.com/github-release/github-release'
        - run: gh auth login --with-token
        - run: gh release create latest